extends layout

block content                        
        .panel.panel-default
            .panel-heading ADD NEW ENDPOINT
            .panel-body 
                form(action='/addendp', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-12  
                                input.form-control(type='text', name='EndPointUrl', placeholder='endpoint url') 
                        .form-group.row
                            .col-sm-4 
                                input.form-control(type='text', name='UserSecurity', placeholder='user security')  
                            .col-sm-4 
                                input.form-control(type='text', name='OpcAuthenticationUsername', placeholder='opc server username')  
                            .col-sm-4 
                                input.form-control(type='text', name='OpcAuthenticationPassword', placeholder='opc server password')    
                        .form-group.row
                            .col-sm-2
                                button.btn.btn-default(type='submit') add endpoint