extends layout

block content                        
        .panel.panel-default
            .panel-heading SUBSCRIBED ENDPOINTS  
            .panel-body    
                form(action='/', method='post', id='list')
                  fieldset
                    .row
                      .col-md-12
                        select.browser-default.custom-select#id(name='id')
                          each endpoint in endpoints
                            option(value=endpoint.id) #{endpoint.url}
            .panel-heading
            .panel-body                              
                    .row                        
                      .col-md-3
                        button.btn.btn-default(type='submit', form='list' formaction='/list')  list tags »
                      .col-md-3
                        button.btn.btn-danger(type='submit', form='list' formaction='/delete')  remove endpoint »

                    
