extends layout

block content                        
        .panel.panel-default
            .panel-heading CURRENTLY SUBSCRIBED 
            .panel-body  
                label Endpoint URL
                br
                input#name(type='text' name='name' readonly='' placeholder=url size='100')
                br
                br
                table.table.table-hover
                    thead
                        tr
                            th Tag Name
                            th Tag Display Name
                    tbody
                        each tag in tags
                            tr
                                td= tag.Id 
                                td= tag.DisplayName 
